@import '../../styles/colors';

.input {
  display: flex;
  flex-direction: column;
  margin-bottom: 36px;

  &__label {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 21px;
    line-height: 25px;
    margin-bottom: 16px;
  }

  &__field {
    font-family: 'Raleway';
    font-style: italic;
    height: 50px;
    background: $color-white;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.06);
    border-radius: 2px;
    border: none;
    padding: 16px 20px;
  }
}
