@import '../../styles/colors';

.button {
  width: 100%;
  height: 50px;
  background-color: $color-secondary;
  border: none;
  border-radius: 18px;
  color: $color-white;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  margin-top: 38px;
}
