@import '../../styles/colors';

.login-screen {
  padding: 70px 0 28px 0;
  background-color: $color-primary;
}

.header {
  text-align: center;
  margin-bottom: 100px;
}

.login-form {
  width: 282px;
  margin: 0 auto;
}
